.editor {
	position: absolute;
	right: 12px;
	top: 5px;
	font-size: 12px;
	transition: 0.2s ease;
	cursor: pointer;
	padding: 0 !important;
	font-size: 18px;
	color: lightblue;
}

.editor:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
}