.expand-icons {
	position: absolute;
	color: lightgrey;
	bottom: -5px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease;
}

.expand-icons:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
}