.big-feedback {
	height: 75vh;
	color: var(--bright-blue);
	font-size: 60px;
	text-transform: uppercase;
}

.feedback-preface {
	color: var(--eighty-grey);
	padding-bottom: 20px;
	line-height: 130%;
}

.feedback {
	height: 100vh;
}

.feedback-form {
	background-color: var(--bright-blue);
	padding: 20px;
}

.feedback-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	border-bottom: 1px solid var(--e-grey);
	color: var(--e-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.feedback-textarea-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--active-blue);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	display: block;
}

.feedback-input:focus {
	color: var(--e-grey);
	border-bottom: 1px solid var(--e-grey);
	box-shadow: 0 1px 0 0 var(--e-grey);
}

.feedback-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--active-blue);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}
