.footer {
	background-color: var(--bright-blue);
	width: 100%;
	min-width: 1200px;
	color: var(--white);
	display: flex;
	position: relative;
	padding: 10px 0px 15px 50px;
	margin-top: 20px;
	display: none;
}

.footer-column {
	width: 200px;
	display: inline-block;
	position: relative;
	/*height: 200px;*/
	/*float: left;*/
	text-align: left;
	/*margin: auto;*/
}

.footer-header {
	text-decoration: underline;
	padding: 10px 0px 0px 0px;
}

.footer-content {
	font-size: 90%;
}

.white-link {
	color: var(--white);
}
