:root {
	--lightish-blue: #f2fdff;
	--bright-blue: #0277bd;
	--active-blue: rgb(41, 182, 246);

	--grey-shadow: 2px 3px 2px #c6c6c6;
	--shift-down: 30px;
}

.active-blue-bg {
	background-color: var(--active-blue);
	transition: 0.2s ease;
}

.active-blue {
	color: var(--active-blue);
	transition: 0.2s ease;
}

.shift-down {
	margin-top: 40px;
}

.ddd-bg {
	background-color: #ddd;
}

.dark-blue-bg {
	background-color: #0277bd;
}

.null-link-style {
	color: inherit;
}

.null-link-style:hover {
	color: inherit;
}

.gen-input {
	color: white !important;
	letter-spacing: 1px;
}

.gen-input:focus + label, .gen-input:focus + label  {
  color: #0277bd;
}

.gen-input:focus {
  border-bottom: 1px solid #29b6f6 !important;
  box-shadow: 0 1px 0 0 #29b6f6;
  color: white !important;
}

.interest-editor {
	opacity: 0;
	transition: ease .2s;
}

/*.tab-container:hover .interest-editor {
	opacity: 1;
	transition: ease .2s;
}*/

.opacity-1 {
	opacity: 1 !important;
}

.light-blue-background {
	background-color: rgb(41, 182, 246)
}

.white-text-now {
	color: white !important;
}

body {
	font-family: montserrat;
	background-color: #f2fdff;
}

.link-color {
	color: rgb(41, 182, 246);
}

.shadow {
	box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.inline {
	display: inline-block;
}

input[type='text']:focus {
  color: var(--active-blue);
}

input[type='text'] {
	color: #757575;
}

input[type='text']:focus {
  border-bottom: 1px solid var(--active-blue) !important;
  box-shadow: 0 1px 0 0 var(--active-blue) !important;
}
