:root {
	--lightish-blue: #F2FDFF;
    --cloud-blue: #AAE5FF;
    --sky-blue: #84D9FF;
	/*--primary: #0277BD;*/
    --seafoam-blue: #5FC9FC; /*Also in the Perchiodic Table*/
	--soft-blue: #03A9F4;
	/*--active: #29B6F6;*/
	--dark-blue: #002C47;
    --slate-blue: #01579B;
	--purple: #800080; /*CSS purple*/
    --error-yellow: #FFEA7B;
    --sunset-orange: #EF5350;
	--red: #FF0000; /*CSS red*/
	--dark-red: rgb(216, 16, 16); /*CSS red*/

    /*THEMES*/
    /*Blue*/
    --primary: #0277BD;
    --active: #29B6F6;
    --highlight: lightblue;
    /*Purple*/
	/*--primary: #6c5b7b;
	--active: #c06c84;
	--highlight: #ffdfd3;*/
	/*Teal*/
	/*--primary: #2b7a78;
	--active: #3aafa9;
	--highlight: #def2f1;*/
	/*Orange and Blue*/
	/*--primary: #ff913d;
	--active: #73f0f4;
	--highlight: #efbc4c;*/
	/*Green*/
	/*--primary: #547a82;
	--active: #a2d4ab;
	--highlight: #a2d4ab;*/


	/*Shades of grey are all that I see...*/
	--white: #FFF; /*CSS white*/
	--e-grey: #EEE;
	--d-grey: #DDD;
	--d-three-grey: #D3D3D3; /*CSS lightgrey*/
	--e-eight-grey: #e8e8e8;
	--b-grey: #BBB;
	--eighty-grey: #808080; /*CSS grey*/
    --seventy-five-grey: #757575;
	--six-grey: #666;
    --fifty-seven-grey: #575757;
    --four-c-grey: #4C4C4C;
	--black: #000; /*CSS black*/

	/*Low opacity shadow*/
	--shadow-black: rgba(0, 0, 0, 0.2);

	/*--grey-shadow: 1px 1px 2px #C6C6C6;*/
	--grey-shadow: 0px 0px 0px #C6C6C6;
	--shift-down: 30px;

	/* Subteam Colors for Perchiodic Table */
	--t0-color: #A0A0A0;
	--t1-color: #E5A2B5;
	--t2-color: #29B6F6;
	--t3-color: #DD5656;
	--t4-color: #96B971;
	--t5-color: #EDA53D;
	--t6-color: #E7DE64;
	--t7-color: #C3AACB;
	--t8-color: #0277BD;
	--t9-color: #8ED2C5;
	--t10-color: #575757;

	/* Border radius */
	--border-radius-small: 20px;
	--border-radius-large: 40px;
	/*--border-radius-C: 0 var(--border-radius-small) 0 var(--border-radius-large);*/
	--border-radius-C: 4px;
	--border-radius-L: 4px;
	/*--border-radius-R: 0 var(--border-radius-small) var(--border-radius-large) 0;*/
	--border-radius-R: 4px;

	/* Animation Variables */
	--flap-speed: 0.5s;
	--dot-speed: 1s;
	--loader-transition: linear;
}

::selection {
	background-color: var(--active);
	color: white;
}

* {
	font-variant-ligatures: none;
}

.active-blue-bg {
	background-color: var(--active);
	transition: 0.2s ease;
}

.active-blue {
	color: var(--active) !important;
	color: var(--active) !important;
	transition: 0.2s ease;
}

.shift-down {
	margin-top: 40px;
}

.ddd-bg {
	background-color: var(--d-grey);
}

.dark-blue-bg {
	background-color: var(--primary);
}

.null-link-style {
	color: inherit;
}

.null-link-style:hover {
	color: inherit;
}

.gen-input {
	color: var(--six-grey) !important;
	letter-spacing: 1px;
}

.gen-input:focus + label, .gen-input:focus + label  {
  color: var(--primary);
}

.gen-input:focus {
  border-bottom: 1px solid var(--active) !important;
  box-shadow: 0 1px 0 0 var(--active);
}

.interest-editor {
	opacity: 0;
	transition: ease .2s;
}

/*.tab-container:hover .interest-editor {
	opacity: 1;
	transition: ease .2s;
}*/

.opacity-1 {
	opacity: 1 !important;
}

.light-blue-background {
	background-color: var(--active)
}

.white-text-now {
	color: white !important;
}

body {
	letter-spacing: 0.5px;
	font-family: 'Raleway', sans-serif;
	background-color: var(--e-eight-grey) !important;
}

.link-color {
	color: var(--active);
}

.shadow {
	box-shadow: 0 3px 5px 1px var(--shadow-black);
}

.inline {
	display: inline-block;
}

.checkbox-white[type="checkbox"].filled-in:checked + label:after{
   border: 2px solid var(--active);
   background-color: var(--active);
}

input[type="checkbox"] {
	background-color: var(--active);
}

input[type='text'], input[type='email'], input[type='number'] {
	color: var(--seventy-five-grey);
}

input[type='text']:focus {
	border-bottom: 1px solid var(--active) !important;
}

.input-field input[type='text']:focus, .input-field input[type='email']:focus, .input-field input[type='number']:focus {
	color: var(--active);
	border-bottom: 1px solid var(--active) !important;
	box-shadow: 0 1px 0 0 var(--active) !important;
}

select {
	color: var(--active);
}

option {
	color: var(--active) !important;
}

ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: var(--active);
}

.expand {
	max-height: 500px !important;
	transition: 1s ease;
}

h1 {
	/*background-color: var(--primary);*/
	padding: 10px;
	color: darkgrey;
	border-left: 5px solid var(--primary);
	text-align: left;
	padding-left: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 24px;
	margin: 0;
	font-weight: bolder;
}

a {
	color: var(--primary);
	transition: 0.2s ease;
}

a:hover {
	color: var(--active);
	transition: 0.2s ease;
	cursor: pointer;
}

input:focus + label {
	color: var(--active) !important;
	transition: 0.2s ease;
}

.grabbable {
	cursor: grab;
}

.grabbable:active {
	cursor: grabbing;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
  -webkit-box-shadow: 0 0 0px 1000px none inset !important;
  transition: background-color 5000s ease-in-out 0s;
}