.awkward {
	color: var(--active-blue);
	background-color: var(--white);
	padding: 5px;
	margin: 0px;
	/*font-size: 1.4em;*/
	/*border-bottom: 1px solid white;*/
}

.awkward-top {
	border-top: 2px solid var(--white);
	border-left: 2px solid var(--white);
	border-right: 2px solid var(--white);
	padding: 5px;
	color: var(--white);
	margin-bottom: -2px;
	padding-left: 4px;
	padding-right: 4px;
}

.awkward-bottom {
	border: 2px solid var(--white);
	padding: 5px;
	color: var(--active-blue);
	background-color: var(--white);
	padding-left: 83px;
	padding-right: 83px;

}

.awkward-mobile {
	font-size: 30px;
	border: 2px solid var(--bright-blue);
}
.awkward-desktop {
	font-size: 30px;
	border: 2px solid var(--bright-blue);
	max-width: 350px;
	background-color: var(--white);
	color: var(--bright-blue);
}

#research-mobile {
	color: var(--white);
	background-color: var(--bright-blue);
}