#feature {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: var(--active-blue);
	/*height: 50px;
	width: 50px;*/
	opacity: 0.8;
}

.tap-target {
	background-color: var(--active-blue);
	color: var(--white);
	letter-spacing: 2px;
}

#tap-target-icon {
	/*font-size: 40px;*/
}

i#tap-target-icon.material-icons {
	background-color: var(--active-blue);
}
