/* CSS File for Static Long-Text Pages, notably the Perch Privacy Policy & Terms of Service */

.terms-text {
	text-align: left;
}

.terms-text-centered {
	text-align: center;
}

.terms-section-title {
	font-weight: 600;
}

.terms-ul {
	/*margin-left: 15px;*/
}

.terms-li-header, .terms-li-header-inline {
	margin: 5px 0px;
	font-weight: 500;
}

.terms-li-content, .terms-li-content-inline {
	margin-left: 25px;
	margin-bottom: 10px;
}

.terms-li-content-inline {
	display: inline;
}

.terms-page-container {
	margin: auto;
	width: 90%;
	background-color: var(--white);
	padding: 20px;
	margin-bottom: 40px;
}