.big-feedback {
	height: 75vh;
	color: var(--primary);
	font-size: 60px;
	text-transform: uppercase;
}

.feedback-preface {
	color: var(--eighty-grey);
	padding-bottom: 20px;
	line-height: 130%;
}

.feedback {
	height: 100vh;
}

.feedback-form {
	background-color: white;
	border: 1px solid lightgrey;
	padding: 20px;
}

.feedback-textarea-input {
	height: 150px;
}

.feedback-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--primary);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.feedback-input-container {
	/*margin: 50px 50px 50px 0px;*/
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
}