.black-text-about {
	color: #000;
}

.white-text-about {
	color: var(--white);
}

.about {
	height: 650px;
	min-width: 1200px;
	margin-top: 6px;
	position: relative;
	display: block;
}

.about-nav {
	background-color: var(--white);
	border-bottom: 1px solid var(--d-three-grey);
	height: 60px;
}

.about-button {
	display: inline-block;
	width: 33.3333%;
	padding-top: 20px;
	text-transform: uppercase;
	height: 100%;
	border-right: 1px solid var(--d-three-grey);
	color: var(--eighty-grey);
}

.about-active {
	background-color: var(--bright-blue) !important;
	color: var(--white);
	border-color: var(--bright-blue)
}