.black-text-about {
	color: #000;
}

.white-text-about {
	color: var(--white);
}

.about {
	min-width: 1200px;
	margin-top: 6px;
	position: relative;
	display: block;
	background-color: white;
	min-height: 100vh;
}

.about-body {
	background-color: white;
}

.about-nav {
	background-color: var(--white);
	border-bottom: 1px solid var(--d-three-grey);
	height: 60px;
}

.about-button {
	display: inline-block;
	width: 33.3333%;
	padding-top: 20px;
	text-transform: uppercase;
	height: 100%;
	border-right: 1px solid var(--d-three-grey);
	color: var(--eighty-grey);
}

.about-active {
	background-color: var(--primary) !important;
	color: var(--white);
	border-color: var(--primary)
}

.about-header {
	font-size: 20px;
}