#BasicBtnWrap {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

.basic-btn {
	background-color: var(--primary);
	box-shadow: none;
	letter-spacing: 1px;
	border-radius: 1px;
}

.basic-btn:hover {
	background-color: var(--active) ;
	box-shadow: none;
}

.basic-btn:focus {
	background-color: var(--primary);
}

.basic-btn-light {
	background-color: var(--active);
	box-shadow: none;
	letter-spacing: 1px;
	color: var(--white);
}

.basic-btn-light:hover {
	background-color: var(--active) ;
	box-shadow: none;
}

.basic-btn-light:focus {
	background-color: var(--active);
}

.basic-btn-delete {
	background-color: var(--dark-red);
	box-shadow: none;
	letter-spacing: 1px;
	color: var(--white);
}

.basic-btn-delete:hover {
	background-color: var(--red);
	box-shadow: none;
}

.basic-btn-delete:focus {
	background-color: var(--red);
}

.inline-icon: {
	display: inline-block;
}
