.academics-tab {
	color: grey;
	letter-spacing: 1px;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	/*width: 180px;
	height: 165px;*/
	height: auto;
	/*overflow: scroll;*/
}

.academic-label {
	color: #0277bd;
	font-weight: bold;
}

.academic-info {
	color: grey;
	font-weight: normal;
}

.academic-tab-header {
	text-transform: uppercase;
	/*height: 30px;*/
}

.classes-wrapper {
	margin-top: 5px;
}

#academics-editor {
	opacity: 0;
	transition: .2s ease;
}

.academic-tab-header:hover #academics-editor {
	opacity: 1;
	transition: .2s ease;
}