.bio-tab {
	color: grey;
	letter-spacing: 1px;
	padding: 10px 20px;
	margin-bottom: 25px;
}

.edit-icon {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	color: white;
}

#bio-editor {
	opacity: 0;
    transition: ease .2s;
}

.tab-header:hover #bio-editor {
	opacity: 1 !important;
	transition: .2s ease;
}

#bio-toggler {
	float: right;
	padding-right: 10px;

}

#bio-toggler {
	cursor: pointer;
}

.editors {
	position: absolute;
	right: 0;
	top: 0;
}