.bio-tab {
	color: grey;
	letter-spacing: 1px;
	padding: 10px 20px;
	margin-bottom: 25px;
}

.edit-icon {
	/*margin-left: -25px;*/
}

#bio-toggler {
	float: right;
	padding-right: 10px;
}

.editors {
	position: absolute;
	right: 0;
	top: 0;
}