#addQuestion {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	color: white;
}

#addQuestionCenter {
	float: center;
	margin-right: 5px;
	color: white;
}

.remove-question {
	float: left;
	color: white;
}

.remove-question:focus,
.remove-question:hover {
	background-color: none;
	cursor: pointer;
}

.icon-pad {
	padding-left: 4px;
	margin-top: -2px;
}

.question-input {
	background-color: #eee;
	box-shadow: 1px 1px 5px;
	color: #666;
	padding: 10px;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
	border: none;
	height: 60px;
	font-size: 14px;
}

.question-input:focus {
	border-bottom: 1px solid #29b6f6;
	box-shadow: 0 1px 0 0 #29b6f6;
}
