.external-links {
	height: 100vh;
}

.external-links-form {
	background-color: var(--bright-blue);
	padding: 20px;
}

.external-links-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--e-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.external-links-btn, 
.external-links-btn:hover {
	background-color: var(--soft-blue);
}

.external-links-input:hover {
	color: var(--e-grey);
}

.external-links-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--active-blue);
	color: white;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.external-links-content {
	padding-top: 20px;
	padding-bottom: 20px;
}