.indicator {
	float: left;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 2.5px 2.5px;
	background-color: #ddd;
	color: white;
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: lowercase;
}

.indicator-on {
	background-color: #8bc34a;
}

.indicator-off {
	background-color: #f44336;
}