.interests-tab {
	height: 120px;
	margin-top: 15px;
	padding-left: 10px;
}

.interest-editor {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	color: white;
}

.interest-editor:hover {
	color: white;
}