.lab-list-item {
	padding: 10px 20px;
	margin: 20px;
	height: 95px;
	background-color: white;
	color: grey;
}

.lab-list-item-img {
	height: 70px;
	width: 70px;
	border: 1px solid green;
	margin-right: 10px;
	position: relative;
	float: left;
}

.lab-list-name {
	text-align: left;
	font-size: 20px;
	margin-bottom: 5px;
	float: none;
	margin-left: 8px;
}

.lab-list-apply {
	float: right;
}

.lab-list-btn-container {
	float: right;
	margin-top: 20px;
}

.lab-list-tag-container {
	float: left;
}