.lab-website {
	height: 100vh;
}

.lab-website-form {
	background-color: #0277bd;
	padding: 20px;
}

.lab-website-input {
	height: 150px;
	background-color: #eee;
	box-shadow: 1px 1px 5px;
	border-bottom: 1px solid #eee;
	color: #eee;
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.input-field input[type=text]:focus + label,
.input-field input[type=text]:hover + label,
.input-field input[type=text]:active + label {
	color: #eee;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 0 0 #eee;
}

.input-field input[type=text]:focus,
.input-field input[type=text]:hover,
.input-field input[type=text]:active {
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 0 0 #eee;
	color: #eee;
}

.lab-website-input:hover,
.lab-website-input:active,
.lab-website-input:focus {
	color: #eee;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 0 0 #eee;
}

.lab-website-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: rgb(41, 182, 246);
	color: white;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}