#password_login:focus + label,  #username_login:focus + label {
  color: #29b6f6;
}

#password_login:focus, #username_login:focus {
  border-bottom: 1px solid #29b6f6;
  box-shadow: 0 1px 0 0 #29b6f6;
}

input {
	margin: 0px !important;
}

.login-buttons {
	margin-left: 35px !important;
}

.shadow {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}