.past-research {
	height: 100vh;
}

.past-research-form {
	background-color: #0277bd;
	padding: 20px;
}

.past-research-input {
	height: 150px;
	background-color: #eee;
	color: #333;
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.past-research-input:hover {
	color: #333;
}

.past-research-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: rgb(41, 182, 246);
	color: white;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}