.pick-your-interests {
	background-color: #0277bd;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.interest-container {
	display: flex;
	flex-direction: row;
	color: white;
	background-color: #0277bd;
	min-height: 60vh;
	
}

.interest-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: rgb(41, 182, 246);
	flex: none;
}

.interest-section {
	border-right: 0.1px solid white;
	border-bottom: 0.1px solid white;
	padding: 0px !important;
	float: left;
}

.interest-body {
	text-align: left;
	padding: 10px;
	float: left;
}

.interest-search {
	background-color: white !important;
	color: grey !important;
	padding-left: 10px !important;
	height: 40px;
	margin-bottom: 0px !important;
	width: 97.8% !important;
	/*width: 100% !important;*/
	float: left;
}