.indicator-container {
	display: relative;
	float: left;
	margin-bottom: 5px;
	margin-top: 10px;
}

.prof-page-name {
	color: white;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 2px;
	background-color: rgb(41, 182, 246);
	margin-bottom: 10px;
}

#specEdit {
	margin-right: 10px;
	margin-left: 6px;
}