[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

#first_name:focus + label, #last_name:focus + label, #email:focus + label, #password:focus + label, #password_retype:focus + label, #name:focus + label {
  color: #29b6f6;
}

#first_name:focus, #last_name:focus, #email:focus, #password:focus, #password_retype:focus, #name:focus{
  border-bottom: 1px solid #29b6f6;
  box-shadow: 0 1px 0 0 #29b6f6;
}

.min-margin {
	margin-bottom: 5px;
}

.submit-btn {
	background-color: #0277bd;
	box-shadow: none;
}

.submit-btn:hover {
	background-color: #4fc3f7 ;
	box-shadow: none;
}

.new-signup-container {
	/*border: 1px solid red;*/
	color: grey;
	padding: 20px;
}

.new-signup-header {
	font-size: 25px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	color: rgb(41, 182, 246);
	/*font-weight: bold;*/
}

.new-signup-sub-header {
	font-size: 14px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	/*text-transform: lowercase;*/
	color: #bbb;
}

.new-signup-radio {
	margin-right: 20px;
}