[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

#first_name:focus + label, #last_name:focus + label, #email:focus + label, #password:focus + label, #password_retype:focus + label {
  color: #29b6f6;
}

#first_name:focus, #last_name:focus, #email:focus, #password:focus, #password_retype:focus{
  border-bottom: 1px solid #29b6f6;
  box-shadow: 0 1px 0 0 #29b6f6;
}

.min-margin {
	margin-bottom: 5px;
}