.grid-item {
	height: 100px;
	width: 20%;
	border: 1px solid white;
}

.student-bio {
	width: 50%;
}

.profile-pic {
	width: 25%;
	height: 300px;
}

.student-skills {
	width: 30%;
	height: 400px;
}

.profile-tab {
	background-color: #ddd;
}

.tab-header {
	background-color: #0277BD;
	color: white;
	text-align: center;
	letter-spacing: 4px;
	font-size: 20px;
}

.floater-item {
	float: left;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 2.5px 2.5px;
	background-color: rgb(41, 182, 246);
	color: white;
	letter-spacing: 1px;
	font-size: 12px;
}

/**/

.flex { 
	display: flex;
}