.table-card {
	width: 85px;
	height: 85px;
	margin: 0px 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	position: relative;
	z-index: 0;
	transition: all .2s ease-in-out;
}

.table-card:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 6px rgba(0,0,0,.25);
	cursor: pointer;
}

.card-placehold {
	width: 85px;
	height: 85px;
	margin: 0px 2px;
}

.table-card-image {
	width: 79px;
	position: absolute;
	z-index: 5;
	left: 0px;
}

.table-card-cover {
	width: 79px;
	height: 79px;
	position: absolute;
	z-index: 7;
	left: 0px;
	opacity: 0.2;
	transition: all .3s ease;
	transition-delay: 0.2s;
}

.table-card:hover .table-card-cover {
	opacity: 0;
}

.table-card .table-hovercard {
  visibility: hidden;
  opacity: 0;
  background-color: white;
  transition: all .2s ease-in-out;
  transition-delay: .35s;
  border-radius: 2px;
  color: $color-grey-1-v2;
  text-align: center;
  padding: 5px 0px;
	vertical-align: middle;
	top: -85px;
	left: -50px;
  position: absolute;
  z-index: 200;
	width: 180px;
	height: 75px;
	font-size: 14px;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.table-card:hover .table-hovercard {
  visibility: visible;
  z-index: 200;
  opacity: 1;
	color: black;
	font-size: 14px;
}

.periodic-table-container {
	/*width: 90%;*/
	width: 1068px;
	margin: 0px auto;
	margin-top: 80px;
	position: relative;
}

.perchiodic-table-key {
	position: absolute;
	align-self: center;
	top: 125px;
	left: 24%;
	height: 150px;
}

.key-col {
	display: inline-block;
	text-align: left;
	vertical-align: center;
	min-width: 180px;
}

.key-item {
	height: 22px;
	position: relative;
	margin: 10px 0px;
}

.key-item-text {
	display: inline-block;
	position: absolute;
	padding-left: 20px;
	font-size: 11px;
}

.key-title {
	display: inline-block;
	position: absolute;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 400;
	width: 300px;
	margin-top: -5px;
}

.key-tile {
	height: 100%;
	width: 22px;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	display: inline-block;
}

.table-row {
	margin: 0 auto;
}

.table-card-inits {
	position: relative;
	top: 44px;
	left: 3px;
	position: absolute;
	z-index: 10;
	font-size: 28px;
	font-weight: 500;
	color: inherit;
	text-shadow: 1px 1px 6px rgba(0,0,0,.9);
}

/* TABLE CARD STYLE */

.t0-tcs {
	/*background-color: #FAFA1D;*/
	border: 3px solid #FAFA1D;
	color: #FAFA1D;
}

.t1-tcs {
	/*background-color: #5FC9FC;*/
	border: 3px solid #5FC9FC;
	color: #5FC9FC;
}

.t2-tcs {
	/*background-color: #A7F2E7;*/
	border: 3px solid #A7F2E7;
	color: #A7F2E7;
}

.t3-tcs {
	/*background-color: #1A9CF6;*/
	border: 3px solid #1A9CF6;
	color: #1A9CF6;
}

.t4-tcs {
	/*background-color: #A7EAF3;*/
	border: 3px solid #A7EAF3;
	color: #A7EAF3;
}

.t5-tcs {
	/*background-color: white;*/
	border: 3px solid white;
	color: white;
}

.t6-tcs {
	/*background-color: #53F6C5;*/
	border: 3px solid #53F6C5;
	color: #53F6C5;
}

.t7-tcs {
	/*background-color: #5FC9FC;*/
	border: 3px solid #5FC9FC;
	color: #5FC9FC;
}

.t8-tcs {
	/*background-color: #E36337;*/
	border: 3px solid #E36337;
	color: #E36337;
}

.t9-tcs {
	/*background-color: #E79D4B;*/
	border: 3px solid #E79D4B;
	color: #E79D4B;
}

.t10-tcs {
	/*background-color: #82D38D;*/
	border: 3px solid #82D38D;
	color: #82D38D;
}

.t11-tcs {
	/*background-color: #DB9CB2;*/
	border: 3px solid #DB9CB2;
	color: #DB9CB2;
}

.t12-tcs {
	/*background-color: #AA9CDB;*/
	border: 3px solid #AA9CDB;
	color: #AA9CDB;
}


/* TABLE CARD COVER BACKGROUNDS AND KEY TILE BACKGROUND */

.t0-tccbg {
	background-color: #FAFA1D;
}

.t1-tccbg {
	background-color: #5FC9FC;
}

.t2-tccbg {
	background-color: #A7F2E7;
}

.t3-tccbg {
	background-color: #1A9CF6;
}

.t4-tccbg {
	background-color: #A7EAF3;
}

.t5-tccbg {
	background-color: white;
}

.t6-tccbg {
	background-color: #53F6C5;
}

.t7-tccbg {
	background-color: #5FC9FC;
}

.t8-tccbg {
	background-color: #E36337;
}

.t9-tccbg {
	background-color: #E79D4B;
}

.t10-tccbg {
	background-color: #82D38D;
}

.t11-tccbg {
	background-color: #DB9CB2;
}

.t12-tccbg {
	background-color: #AA9CDB;
}

.table-card-container {
	display: inline-block;
}
