.create-lab-wrapper {
  margin-top: -20px;
}

.contact-line {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 20px;
}

.contact-left {
  padding-right: 20px;
}
