.tempSignup {
  font-weight: normal;
  font-size: 30px;
  margin: auto auto;
  text-align: center;
  margin-top: calc(50vh - 50px);
  transform: translateY(-50%);
}

.tempSignupSub {
  font-weight: normal;
  font-size: 20px;
  color: grey;
  margin-left: 10px;
}

.movingText {
  background-color: var(--primary);
  height: 100%;
}

.header {
  font-size: 40px;
  letter-spacing: 2px;
  width: 500px;
}

.headerBig {
  font-weight: bold;
  font-size: 65px;
  letter-spacing: 2px;
}

.text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 200%;
  color: var(--e-grey);
}

.atf {
  color: var(--white);
  background-color: var(--highlight);
  background-color: white;
  background-size: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .11);
  z-index: 10;
  position: relative;
  height: 100vh;
  >div {
    height: 100%;
  }
}