.signup-container {
	color: rgb(21, 38, 54);
	.signup-header {
		font-size: 30px;
		margin-bottom: 0.5em;
	}
}

// .google-login {
// 	width: calc(100% + 2*80px);
// 	height: 80px;
// 	margin: 0 -80px;
// 	background-color: lightcoral;
// }

// .signup-header {
// 	font-size: 30px;
// 	// margin-bottom: 0px;
// 	// padding-left: 10px;
// 	// letter-spacing: 1px;
// 	// color: var(--active);
// }
