.projectContainer {
  background-color: var(--e-grey);
  position: relative;
  top: 0;
  margin: 20px auto;
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
  .project {
    margin: 0.5em;
    border: none;
    box-shadow: 2px 2px 4px 2px lightgrey;
  }
}
