.search-container {
	display: inline-grid;
	width: 110%;
	margin-left: -20px;
	grid-template-columns: 20% 80%;
}

.search-main {
	grid-column-start: 2;
}


.search-filter-container {
	background-color: var(--white);
	transition: all 0.5s ease;
	border-radius: 0px 10px 0px 20px;
	max-height: 50px;
	overflow-y: hidden;
	padding: 5px 20px 10px 5px;
	margin-bottom: 5px;
	position: relative;
}

.search-filter-title {
	padding: 10px 0px 7px 5px;
}

.search-filter-content {
	text-align: left;
	margin-left: 5px;
	width: 90%;
	margin-bottom: 0px;
}

.search-filter-content-wrapper {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 400px;
	margin-bottom: 15px;
	position: relative;
}

.search-expand-more {
	cursor: pointer;
	margin-left: -1px;
	transition: all 0.2s ease;
	color: var(--primary) !important;
}

.search-expand-less {
	cursor: pointer;
	margin-left: -1px;
	transition: all 0.2s ease;
	color: var(--active) !important;
}

.search-expand-more:hover, .search-expand-less:hover {
	background-color: white !important;
	transform: translateY(-1px);
}

.filter-dropdown-container {
	display: inline-flex;
}

.filter-dropdown-label {
	margin-top: 4px;
	margin-left: 12px;
	font-size: 13px;
	color: black;
}

.filter-checkbox-label {
	line-height: 20px !important;
	font-size: 13px !important;
	color: var(--black);
}

.subfilter {
	margin-left: 20px;
	margin-bottom: 10px;
}

.filter-hr {
	border: none;
	border-top: 1px solid lightgrey !important;
	margin: 10px 10px 0px 5px;
}

.labSearch {
	padding: 20px;
	padding-left: 0;
	padding-right: 0;
	background-color: var(--d-grey);
}

.labSearch .row {
	margin: 0;
}

.lab-search-input {
	border-radius: 40px !important;
	background-color: var(--white) !important;
	color: var(--eighty-grey) !important;
	padding-left: 20px !important;
	margin: 5px 10px !important;
	height: 40px !important;
	width: 95% !important;
}

#lab-name:focus + label,  #lab-topic:focus + label {
  color: var(--active);
}

#lab-name:focus, #lab-topic:focus {
  border-bottom: 1px solid var(--active);
  box-shadow: 0 1px 0 0 var(--active);
}

.lab-search-label {
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 10px;
}

.lab-search-btn {
	margin-top: 5px;
}

.lab-search-modifiers {
	border: 1px solid var(--d-grey);
	border-bottom: none;
	border-top: none;
	margin-bottom: 0;
	padding: 10px;
	background-color: var(--primary);
	position: relative;
}

.close-modifiers {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
	color: var(--white);
	background-color: var(--active);
}

#interests, #skills {
	color: var(--white) !important;
}

.import-btn {
	background-color: var(--active);
	font-size: 80%;
	padding-left: 10px;
	padding-right: 10px;
}

#lab-search-box {
	padding: 11px;
	padding-top: 0px;
}

.import-container {
	/*padding-right: 30px !important;*/
}

.search-interest-container {
	display: flex;
	flex-direction: row;
	color: var(--white);
	background-color: var(--primary);
	min-height: 30vh;
}

.search-interest-section-left {
	border-color: var(--d-grey) !important;
	/*border-top: none !important;*/
	border-right: none !important;
	/*border-left: none !important;*/
}

.search-interest-section-right {
	border-color: var(--d-grey) !important;
	/*border-top: none !important;*/
	/*border-right: none !important;*/
	/*border-left: none !important;*/
}

.selected-container {
	float: left;
}

.lab-search-radio-label {
	color: var(--d-grey);
}
/* This is the new file below*/

.lab-srch-2 {
	width: 1200px;
	margin: auto auto;
	position: relative;
	display: grid;
	grid-template-columns: 250px 950px;
}

.lab-srch-mods {
	/*background-color: var(--d-three-grey);*/
	border: 1px solid var(--d-three-grey);
	border-right: none;
	background-color: #eaeaea;
	display: block;
	position: relative;
	left: 0;
	top: 0;
	height: fit-content;
}

.lab-srch-body {
	background-color: #eaeaea;
	position: relative;
	top: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	border-right: 1px solid var(--d-three-grey);
	border-top: 1px solid var(--d-three-grey);
	padding-bottom: 40px;
}

.lab-srch-depts {
	height: 330px;
	background-color: var(--eighty-grey);
	width: 100%;
	line-height: 330px;
	text-align: center;
}

#lab-srch-input {
	background-color: var(--white);
	padding-left: 20px;
	width: calc(100% - 20px);
	height: 50px;
	border: 1px solid var(--d-three-grey);
}

#lab-srch-result-summary {
	margin-top: -15px;
	margin-bottom: 20px;
	color: var(--eighty-grey);
}

#lab-srch-result-summary b {
	color: var(--primary);
}

#lab-srch-results {
	width: 100%;
	min-height: 400px;
}

#lab-srch-more {
	background-color: var(--primary);
	color: white;
	text-align: center;
	padding: 20px;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.2s ease;
}

#lab-srch-more:hover {
	background-color: var(--active);
	transition: 0.2s ease;
}

.search-sidebar {
	grid-column-start: 1;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px 0;
}

/*#lab-srch-results b {
	color: var(--primary);
}*/
