.apply {
	/*height: 100vh;*/
}

.apply-help-text {
  margin: 0px auto;
  margin-bottom: 30px;
  border-left: 5px solid var(--primary);
  text-align: left;
  padding-left: 10px;
}

.apply-form {
	background-color: var(--white);
	padding: 20px;
	margin-bottom: 40px;
}

.apply-descriptor {
	margin-bottom: 5px;
}

.apply-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

#textInput {
	letter-spacing: 1px;
	font-size: 16px;
	color: var(--six-grey);
}

#textInput:focus {
	border-bottom: 1px solid var(--active);
	box-shadow: 0 1px 0 0 var(--active);
}

.apply-btn,
.apply-btn:hover {
	background-color: var(--soft-blue);
}

.apply-question-label {
	color: var(--six-grey);
	font-size: 16px;
	text-align: left;
  margin-bottom: 10px;
}

.apply-question-label.application {
  	margin-bottom: 20px !important;
}

textarea.materialize-textarea {
	margin-top: 10px;
	background-color: var(--e-grey);
	padding-left: 8px;
	padding-right: 8px;

}

#apply-question-input:focus {
  border-bottom: 1px solid var(--active);
  box-shadow: 0 1px 0 0 var(--active);
}

.apply-input:hover {
	color: var(--e-grey);
}

.apply-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--primary);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}
