.app-question-tab-body {
	letter-spacing: 0.5px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
}

.app-question-tab-header {
	/*background-color: var(--primary);
	color: white;*/
	border: none;
	color: #424242;
	padding-left: 0;
	text-transform: none;
	font-size: 18px;
	padding-top: 0;
}

.apply-question-tab-label {
	text-align: left;
	/*font-weight: bold;*/
	font-size: 15px;
	font-weight: bold;
}

.app-question-tab {
	display: block;
	margin: 20px 0px;
	/*background-color: var(--e-grey);*/
}

.app-question-desc {
	color: var(--e-grey);
	margin-bottom: 30px;
}

.apply-question-tab-label {
	color: var(--eighty-grey);
	text-align: left;
	margin-bottom: 5px;
}
