.contact-tab {
	color: var(--eighty-grey));
	letter-spacing: 1px;
	margin: 25px 15px;
}

#contact-editor {
	opacity: 0;
}

#contact-tab-header:hover #contact-editor {
	opacity: 1;
	transition: .2s ease;
}