.ext-link-box {
	color: white;
	background-color: var(--active);
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	letter-spacing: 2px;
	border-bottom: 1px solid var(--e-grey);
	transition: .2s ease;
	position: relative;
	cursor: pointer;
	display: block;
}

.ext-link-box:hover {
	background-color: var(--white);
	color: var(--active);
	transition: .2s ease;
}