.interests-tab {
	/*height: 120px;*/
	margin-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
	float: left
}

.interest-editor {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	color: var(--white);
}

.interest-editor:hover {
	color: var(--white);
}

#bio-editor {
	opacity: 0;
    transition: ease .2s;
}

#interest-tab-editor {
	opacity: 0;
	transition: .2s ease;
}

.tab-header:hover #interest-tab-editor {
	opacity: 1;
	transition: .2s ease;
}