.schedule-interview {
	height: 100vh;
}

.schedule-interview-form {
	background-color: var(--bright-blue);
	padding: 20px;
	margin-bottom: 40px;
}

.schedule-interview-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--e-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.schedule-interview-btn, 
.schedule-interview-btn:hover {
	background-color: var(--soft-blue);
}

.schedule-interview-input:hover {
	color: var(--e-grey);
}

.schedule-interview-desc {
	font-weight: 300;
	font-size: 16px;
}

.schedule-interview-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--active-blue);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.interview-choices {
	background-color: var(--bright-blue);
	margin-bottom: 20px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	border-radius: 4px;
}

.remove-card {
	float: right;
	color: var(--black);
	opacity: 0;
	transition: ease .2s;
}

.day-disp {
	margin-bottom: -10px;
}

.year-disp {
	margin-top: -4px;
	padding-bottom: 4px;
}

.time-disp {
	margin-left: -16px;
	margin-right: -16px;
	margin-bottom: -6px;
}

.lab-title-disp:hover,
.lab-title-disp:focus {
	color: var(--active-blue);
	background-color: var(--white);
}

.lab-title-disp-blue {
	color: var(--cloud-blue);
	background-color: inherit;
}

.lab-title-disp-blue:hover,
.lab-title-disp-blue:focus {
	color: var(--sky-blue);
	background-color: inherit;
}

.card-image {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	padding: 4px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.card.select-card {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.card.select-card:hover {
	margin-top: 2px;
	cursor: pointer;
	box-shadow: 0 3px 3px 1px var(--shadow-black), 0 2px 6px 1px var(--shadow-black), 0 5px 2px -3px var(--shadow-black);
}

.error-text {
	font-weight: 350;
	color: var(--error-yellow);
}

#address-input {
	width: 50%;
	color: var(--e-grey);
	letter-spacing: 1px;
}

#address-input:focus {
	border-bottom: 1px solid var(--active-blue) !important;
	box-shadow: 0 1px 0 0 var(--active-blue);
}

.card:hover .remove-card {
	opacity: 1 !important;
	transition: .2s ease;
}