.skills-tab {
	margin-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
	float: left;
}

#skills-tab-editor {
	opacity: 0;
	transition: .2s ease;
}

.tab-header:hover #skills-tab-editor {
	opacity: 1;
	transition: .2s ease;
}