.black-text-about {
	color: #000;
}

.white-text-about {
	color: var(--white);
}

.about {
	min-width: 1200px;
	margin-top: 20px;
	position: relative;
	display: block;
	background-color: white;
	min-height: 100vh;
	padding: 2em;
	overflow: hidden;
}

.about-body {
	background-color: white;
}

.about-nav {
	background-color: var(--white);
	text-align: center;
	border-bottom: 2px dotted lightgrey;
}

.about-button {
	display: inline-block;
	width: calc(33.3333% - 4em - 4px);
	padding: 0.2em 2em;
	border-right: 2px dotted lightgrey;
	cursor: pointer;
}

.about-button:last-of-type {
	border-right: none;
}

.about-active {
	color: var(--primary);
}

.about-header {
	font-size: 20px;
}