#BasicBtnWrap {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

.basic-btn {
	background-color: var(--bright-blue);
	box-shadow: none;
	letter-spacing: 1px;
}

.basic-btn:hover {
	background-color: var(--seafoam-blue) ;
	box-shadow: none;
}

.basic-btn:focus {
	background-color: var(--bright-blue);
}

.basic-btn-light {
	background-color: var(--active-blue);
	box-shadow: none;
	letter-spacing: 1px;
	color: var(--white);
}

.basic-btn-light:hover {
	background-color: var(--seafoam-blue) ;
	box-shadow: none;
}

.basic-btn-light:focus {
	background-color: var(--active-blue);
}

.inline-icon: {
	display: inline-block;
}
