.huge-btn {
	background-color: var(--primary);
	/*border: 6px solid var(--primary);*/
	width: 100%;
	margin-bottom: 20px;
	border-radius: var(--border-radius-C) !important;
	height: 80px;
	padding: 0px;
}

.huge-btn:hover, .huge-btn:active, .huge-btn:focus {
	background-color: var(--active) ;
	box-shadow: none;
}
