#password_login:focus + label,  #username_login:focus + label {
  color: var(--active);
}

#password_login:focus, #username_login:focus {
  border-bottom: 1px solid var(--active);
  box-shadow: 0 1px 0 0 var(--active);
}

