.modal-btn {
	border: 2px solid var(--e-grey);
	background-color: var(--primary);
	color: var(--e-grey);
}

#studentListButton {
	margin-top: 4px;
}

.fe-test {
	display: inline-block;
	color: var(--e-grey);
	padding-right: 10px;
}

.above-input {
	padding-bottom: 12px;
}

.narrow {
	width: 60%;
	margin: auto;
}

.modal-small-header {
	padding-right: 5px;
}

.description-text {
	padding-bottom: 10px;
}
