#contact-email:focus + label, #contact-location:focus + label {
  color: var(--active);
}

#contact-email:focus, #contact-location:focus {
  border-bottom: 1px solid var(--active);
  box-shadow: 0 1px 0 0 var(--active);
}
