.pick-your-interests {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.bbl-container {
	max-height: 50%;
	color: var(--white);
	min-height: 250px;
	margin-bottom: 0px !important;
	position: relative;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
}

.bbl-header {
	font-size: 16px;
	padding: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--b-grey);
	flex: none;
}

.bbl-section {
	margin: 0px !important;
	padding: 0px !important;
	background-color: var(--e-grey);
	height: 100%;
	background-color: white;
}

.bbl-section.left {
	border-right: none;
}

.bbl-section.right {
	border-left: 1px solid lightgrey;
}

.bbl-body {
	text-align: left;
	padding: 10px;
	max-height: 100%;
	overflow-y: scroll;
}

.bbl-custom-add {
	position: absolute;
	color: lightgrey;
	right: 51%;
	cursor: pointer;
	top: 8px;
}

.bbl-search {
	background-color: var(--white) !important;
	color: var(--eighty-grey) !important;
	padding-left: 9px !important;
	height: 40px !important;
	margin-bottom: 0px !important;
	width: 97.8% !important;
	/*width: 100% !important;*/
	float: left;
	border-top: 1px solid lightgrey !important;
	border-bottom: 1px solid lightgrey !important;
}
