[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: var(--active);
  border-color:var(--active);
}

#first_name:focus + label, #last_name:focus + label, #email:focus + label, #password:focus + label, #password_retype:focus + label, #name:focus + label {
  color: var(--active);
}

#first_name:focus, #last_name:focus, #email:focus, #password:focus, #password_retype:focus, #name:focus{
  border-bottom: 1px solid var(--active);
  box-shadow: 0 1px 0 0 var(--active);
}

.min-margin {
	margin-bottom: 5px;
}

.submit-btn {
	background-color: var(--primary);
	box-shadow: none;
}

.submit-btn:hover {
	background-color: var(--seafoam-blue) ;
	box-shadow: none;
}

.new-signup-container {
	/*border: 1px solid red;*/
	color: var(--eighty-grey);
	padding: 20px;
}

.new-signup-header {
	font-size: 25px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	color: var(--active);
	/*font-weight: bold;*/
}

.new-signup-sub-header {
	font-size: 14px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	/*text-transform: lowercase;*/
	color: var(--b-grey);
}

.new-signup-radio {
	margin-right: 20px;
}
