.modal{
	position: fixed;
	top: 30%;
	z-index: 1000;
	visibility: hidden;
	border-radius: var(--border-radius-C);
	display: block !important;
	width: 60%;
	max-height: 70%;
	margin: auto;
	overflow-y: auto;
	opacity: 0;
	transition: all 0.4s ease;
}

.modal.display-modal {
	top: 15%;
}

.modal.wide-modal {
	top: 15%;
	width: 80%;
	max-height: 80%;
	max-width: 900px;
}

.modal.medium-modal {
	height: 400px;
}

.modal.slim-modal {
	height: 220px;
}

.modal.activated {
	visibility: visible !important;
	opacity: 1 !important;
}

.edit-modal-title {
	width: 100%;
	text-transform: uppercase;
	background-color: var(--primary);
}

#modalBackdrop {
	display: none;
	position: fixed;
	width: 120%;
	height: 120%;
	top: 0;
	left: 0;
	background-color: var(--black);
	z-index: 999;
	opacity: 0.2;
}

.modal-backdrop {
	visibility: hidden;
	position: fixed;
	width: 120%;
	height: 120%;
	top: 0;
	left: 0;
	background-color: var(--black);
	z-index: 999;
	opacity: 0;
	transition: all 0.4s ease;
}

.modal-backdrop.activated {
	visibility: visible;
	opacity: 0.4;
}

#resetPassword {
	top: 15%;
	height: 450px;
}

#resetEmail {
	top: 25%;
	height: 270px;
}

#createModal {
	display: none;
	top: 15%;
}

#submitModal {
	display: none;
}

#deleteUser {
	top: 30%;
	height: 200px;
}

.modal-content {
	text-align: left;
}

.modal-no-padding {
	padding: 0px !important;
	margin: 0px !important;
}

.modal-wide {
	width: 70% !important;
}
