
.lab-text-info {
	height: 100vh;
}

.lab-text-info-form {
	background-color: var(--white);
	border-radius: var(--border-radius-C);
	padding: 20px;
}

.lab-text-info-input {
	height: 150px !important;
	background-color: var(--e-grey);
	/*box-shadow: 1px 1px 5px;*/
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.lab-text-info-input:hover {
	color: var(--six-grey);
	border: none;
}

.lab-text-info-input:focus {
	border: none;
	box-shadow: none;
}

#lab-name-input {
	color: var(--four-c-grey);
	letter-spacing: 1px;
}

.lab-text-info-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--primary);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.lab-text-info-input:focus + label, #lab-name-input:focus + label  {
  color: var(--primary);
}

#lab-name-input:focus {
  border-bottom: 1px solid var(--active) !important;
  box-shadow: 0 1px 0 0 var(--active);
}

#next-btn {
	width: 275px;
	letter-spacing: 1.5px;
	border: 2px solid var(--white);
	color: var(--white);
	background-color: var(--active);
}