.project {
  background-color: var(--white);
  width: calc(100%-2em);
  position: relative;
  transition: .2s ease;
  padding: 1em;
}

.project:hover {
  box-shadow: var(--grey-shadow);
  transition: .2s ease;
}

.project:last-of-type {
  margin-bottom: 0;
}

.title_container {
  transition: 0.2s ease;
  color: var(--primary);
  cursor: pointer;
}

.title {
  display: inline-block;
  padding-bottom: 0.5em;
  font-size: 24px !important;
  max-width: calc(100% - 100px);
}

.title:hover {
  color: var(--active);
  transition: 0.2s ease;
}

.project_tag {
  border: 1px solid var(--purple);
  color: var(--purple);
  border-radius: 10px;
  padding: 0 10px;
  padding-top: 1px;
  margin-top: 4px;
  margin-left: 10px;
  font-size: 11px;
  letter-spacing: 1px;
  display: inline-block;
}

.project_description {
  font-size: 16px;
  max-width: calc(100% - 150px);
  hyphens: auto;
}

.project_action_label {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--primary);
  color: var(--white) !important;
  cursor: pointer;
  transition: 0.2s ease;
}

.project_action_label:hover {
  background-color: var(--active);
  transition: 0.2s ease;
}

.project_apply {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 75px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--primary);
  color: var(--white) !important;
  cursor: pointer;
  transition: 0.2s ease;
}

.project_apply>a {
  color: var(--white) !important;
}

.project_openings {
  color: var(--black);
  position: absolute;
  top: 35px;
  left: 30px;
  font-size: 12px;
  display: none;
}

.project_adder {
  position: absolute;
  top: 60px;
  right: 0px;
  padding: 0 10px;
  background-color: var(--highlight);
}

.ellipsis {
  color: var(--primary);
  font-size: 25px;
  line-height: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease;
}

.ellipsis:hover {
  color: var(--active);
  transition: 0.2s ease;
}

.toggler {
	position: absolute;
	height: 50%;
  width: 100px;
	right: 0;
	color: white;
	transition: 0.2s ease;
	&:hover {
		background-color: var(--active);
		transition: 0.2s ease;
	}
}



.saveRemove {
	bottom: 0;
	cursor: pointer;
	background-color: var(--highlight);
}

.apply {
	top: 0;
	cursor: pointer;
	background-color: var(--primary);
}

.submitted {
	height: 100%;
	top: 0;
	background-color: var(--green);
	&:hover {
		background-color: var(--green);
	}
}