#addQuestion {
	float: right;
	margin-right: 2px;
	margin-top: 2px;
}

#addQuestionCenter {
	float: center;
	margin-right: 5px;
}

.remove-question {
	float: left;
	color: var(--active-blue);
}

.remove-question:focus,
.remove-question:hover {
	background-color: none;
	cursor: pointer;
}

.icon-pad {
	padding-left: 4px;
	margin-top: -2px;
}

.question-input {
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
	border: none;
	height: 60px;
	font-size: 14px;
}

/*	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
*/

.question-input:focus {
	border-bottom: 1px solid var(--active-blue);
	box-shadow: 0 1px 0 0 var(--active-blue);
}

.create-position-row {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
