#group-page {
	width: 1200px;
	height: 1000px;
	background-color: black;
	margin: auto auto;
	margin-top: var(--shift-down);
	position: relative;
	background-color: #eaeaea;
	padding: 10px;
	border: 1px solid lightgrey;
}

#group-page-column-L, #group-page-column-R {
	position: absolute;
	width: 250px;
	height: 1000px;
	line-height: 1000px;
	text-align: center;
	background-color: grey;
	top: 10px;
}

#group-page-column-L {
	left: 0;
}

#group-page-column-R {
	right: 0;
}

#group-page-main {
	position: absolute;
	width: 660px;
	height: 1000px;
	left: 250px;
	margin: 0 20px;
}

.group-header {
	background-color: var(--bright-blue);
	padding: 10px;
	color: var(--lightish-blue);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

#group-page-publications {
	width: 100%;
	height: 200px;
	background-color: white;
	border-radius: 0 20px 0 40px;
	border: 1px solid lightgrey;
	overflow: hidden;
	transition: 0.2s ease;
}

#group-page-publications:hover {
	box-shadow: var(--grey-shadow);
	transition: 0.2s ease;
}

#group-page-expand-icons {
	position: absolute;
	color: lightgrey;
	bottom: -5px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease;
}

#group-page-expand-icons:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
}

