.group-project-requirement {
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 4px;
}

.group-project-requirement span {
	font-weight: bold;
	width: 160px;
	display: inline-block;
	text-align: right;
	padding-right: 0px;
}

.group-project-requirement > div {
	border-left: 2px solid var(--d-three-grey);
	padding-left: 5px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}