.lab-specifications {
	height: 100vh;
}

.lab-specifications-form {
	background-color: var(--bright-blue);
	padding: 20px;
}

.lab-specifications-checklist {
	padding-left: 30px;
	padding-right: 30px;
}

.lab-specifications-text {
	color: var(--e-grey);
	letter-spacing: 1px;
}

.lab-specifications-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--e-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.lab-specifications-input:hover {
	color: var(--e-grey);
}

.columned-list {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
    text-align: left;
}

.lab-specifications-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--active-blue);
	color: white;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.checkbox-white[type="checkbox"].filled-in:checked + label:after{
 border: 2px solid var(--active-blue) !important;
 background-color: var(--active-blue) !important;
}

label:after {
	border-color: var(--bright-blue) !important;
}
