.lab-text-info {
	height: 100vh;
}

.lab-text-info-form {
	background-color: var(--bright-blue);
	padding: 20px;
}

.lab-text-info-input {
	height: 150px !important;
	background-color: var(--e-grey);
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
	border: none;
}

.lab-text-info-input:hover {
	color: var(--six-grey);
	border: none;
}

.lab-text-info-input:focus {
	border: none;
	box-shadow: none;
}

#lab-name-input {
	color: var(--e-grey);
	letter-spacing: 1px;
}

.lab-text-info-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--active-blue);
	color: white;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.lab-text-info-input:focus + label, #lab-name-input:focus + label  {
  color: var(--bright-blue);
}

#lab-name-input:focus {
  border-bottom: 1px solid var(--active-blue) !important;
  box-shadow: 0 1px 0 0 var(--active-blue);
}