.lab-website {
	height: 100vh;
}

.lab-website-form {
	background-color: var(--white);
	padding: 20px;
	border-radius: var(--border-radius-C);
}

.lab-website-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	border-bottom: 1px solid var(--e-grey);
	color: var(--b-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.lab-website-input:focus {
	color: var(--e-grey);
	border-bottom: 1px solid var(--e-grey);
	box-shadow: 0 1px 0 0 var(--e-grey);
}

.lab-website-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--bright-blue);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}