.positions-tab {
	position: relative;
	color: grey;
	letter-spacing: 1px;
	margin: 25px 15px;
	padding-bottom: 5px;
}

.positions-tab-header {
	position: relative;
	width: 100%;
	/*background-color: #8bc34a;*/
	background-color: #0277bd;
}

.tab-fit {
	position: relative;
	width: 100%;
}

#showOnFaculty {
	display: none;
}

#positions-tab-editor {
	opacity: 0;
    transition: ease .2s;
}

.tab-header:hover #positions-tab-editor {
	opacity: 1 !important;
	transition: .2s ease;
}