.indicator-container {
	display: relative;
	float: left;
	margin-bottom: 5px;
	margin-top: 10px;
}

.prof-page-name {
	color: var(--white);
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 2px;
	background-color: var(--active);
	margin-bottom: 10px;
}

#specEdit {
	margin-right: 10px;
	margin-left: 6px;
}

.join-lab {
	background-color: var(--primary) !important;
	color: white !important;
	height: 60px;
	font-size: 20px;
	position: relative;
}

.join-lab div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 175px;
	transition: 0.2s ease !important;
	cursor: pointer !important;
}

.join-lab:hover {
	background-color: var(--active) !important;
	transition: 0.2s ease !important;
}
