#canvas {
  display: grid;
  
  // Desktop View
  grid-template-areas: 
    "header header  header  header  header"
    "left   main    main    main    right";

  // Mobile view
  @media (max-width: 600px){
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main"
      "left"
      "right";
    }
}

.left-panel {
  grid-area: left;
  background-color: red;
}

.main-panel {
  grid-area: main;
  background-color: blue;
}

.right-panel {
  grid-area: right;
  background-color: green;
}

.header-panel {
  grid-area: header;
  background-color: purple;
}