#canvas {
  // 3 Panel Desktop View ('canvas-3')
  &-3 {
    grid-template-areas: 
      "header header  header  header  header"
      "left   main    main    main    right";
  }

  // 2 Panel Desktop View ('canvas-2')
  &-2 {
    background-color: white;
    grid-template-areas: 
      "header header"
      "left   main  ";

    grid-template-columns: 1fr 3fr;
  }

  &-3, &-2 {
    display: grid;

    // Mobile view
    @media (max-width: 600px){
      grid-template-columns: 1fr;
      grid-template-areas: 
        "header"
        "left"
        "main"
        "right";
    }
  }
}


.left-panel {
  grid-area: left;
  padding-left: 40px;
  padding-top: 20px;
}

.main-panel {
  grid-area: main;
  padding: 60px;
  height: 100vh;
}

.right-panel {
  grid-area: right;
}

.header-panel {
  grid-area: header;
}