#canvas {
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 1em;
  padding: 2em; 
  padding-top: 0;
  grid-template-areas: 
    "left main";
  
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    // mobile view
    grid-template-areas: 
      "main"
  }
}

// high level grid
#leftPanel {
  grid-area: left;
  // mobile view
  @media (max-width: 800px) {
    display: none;
  }
}

#mainPanel {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px auto;
  grid-template-areas: 
    "search" 
    "results"
}

// main's sub grid
#searchPanel {
  grid-area: search;
}

#resultsPanel {
  grid-area: results;
}