.academics-tab {
	color: grey;
	letter-spacing: 1px;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
}

.academic-label {
	font-weight: bold;
}

.academic-info {
	color: var(--eighty-grey);
	font-weight: normal;
}

.classes-wrapper {
	margin-top: 5px;
}

#academics-editor {
	opacity: 0;
	transition: .2s ease;
}

#academic-tab-header:hover #academics-editor {
	opacity: 1;
	transition: .2s ease;
}