.notable-classes {
	height: 100vh;
}

.notable-classes-form {
	background-color: var(--white);
	padding: 20px;
	border: var(--grey-shadow);
	border-radius: var(--border-radius-C);
}

.invisible {
	display: none;
	opacity: 0;
}

.visible-yes {
	display: block;
	opacity: 1;
}

.notable-classes-input {
	background-color: var(--e-grey);
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 1px;
	margin-bottom: -10px;
	display: block;
}

.notable-classes-input:hover {
	color: var(--six-grey);
}

.notable-classes-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--bright-blue);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

.notable-classes-label {
	font-size: 16px;
	color: var(--bright-blue);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.class-creation-label {
	padding-bottom: 20px;
}

.year-selector {
	text-transform: uppercase;
	color: var(--six-grey);
}

.year-selector-item {
	color: var(--active-blue) !important;
	letter-spacing: 1px;
}

.caret {
	color: var(--active-blue) !important;
}

.dropdown-content {
	color: var(--active-blue) !important;
}
