.past-research {
	height: 100vh;
}

.past-research-form {
	background-color: var(--bright-blue);
	padding: 20px;
}

.past-research-input {
	height: 150px;
	background-color: var(--e-grey);
	color: var(--six-grey);
	padding: 10px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.past-research-input:hover {
	color: var(--six-grey);
}

.past-research-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--active-blue);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}