.pick-your-interests {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.interest-container {
	display: flex;
	flex-direction: row;
	color: var(--white);
	min-height: 250px;
	margin-bottom: 0px !important;
	position: relative;
}

.interest-header {
	font-size: 16px;
	padding: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--b-grey);
	flex: none;
}

.interest-section {
	margin: 0px !important;
	padding: 0px !important;
	background-color: var(--e-grey);
	float: left;
}

.interest-section.left {
	border-right: none;
}

.interest-section.right {
	border-left: 1px solid lightgrey;
}

.interest-body {
	text-align: left;
	padding: 10px;
	float: left;
	max-height: 200px;
	overflow: scroll;
}

.interest-custom-add {
	position: absolute;
	color: lightgrey;
	right: 51%;
	cursor: pointer;
	top: 8px;
}

.interest-search {
	background-color: var(--white) !important;
	color: var(--eighty-grey) !important;
	padding-left: 9px !important;
	height: 40px !important;
	margin-bottom: 0px !important;
	width: 97.8% !important;
	/*width: 100% !important;*/
	float: left;
	border-top: 1px solid lightgrey !important;
	border-bottom: 1px solid lightgrey !important;
}
