.pick-your-interests {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.interest-container {
	display: flex;
	flex-direction: row;
	color: var(--white);
	min-height: 60vh;

}

.interest-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--bright-blue);
	flex: none;
	border-top-right-radius: var(--border-radius-small);
}

.interest-section {
	margin: 0px 15px;
	padding: 0px !important;
	background-color: var(--e-grey);
	border: 1px solid lightgrey;
	float: left;
}

.interest-section.left {
	border-bottom-left-radius: var(--border-radius-large);
}

.interest-section.right {
	border-top-right-radius: var(--border-radius-small);
}

.interest-body {
	text-align: left;
	padding: 10px;
	float: left;
}

.interest-search {
	background-color: var(--white) !important;
	color: var(--eighty-grey) !important;
	padding-left: 9px !important;
	height: 40px;
	margin-bottom: 0px !important;
	width: 97.8% !important;
	/*width: 100% !important;*/
	float: left;
	border-bottom: 1px solid lightgrey !important;
}
