 #user-content-body {
	width: 1200px;
	position: relative;
	margin: auto auto;
	margin-top: var(--shift-down);
	padding-bottom: 20px;
	min-height: 100vh !important;
}

/* Right Column*/
#user-column-R {
	width: 250px;
	/* this is for formatting it to the middle with left side touching and 20px margin*/
	/*right: calc(50vw - 660px/2 - 20px);*/
	/*transform: translateX(100%);*/
	/*position: fixed;*/
	position: absolute;
	right: 0;
}

.ad {
	height: 200px;
	background-color: lightgrey;
	border: 1px solid var(--primary);
	margin-bottom: 15px;
}

/* Left Column*/
#user-column-L {
	width: 250px;
	/*position: fixed;*/
	position: absolute;
}

#user-column-Dashboard {
	right: 0;
	position: absolute;
	width: calc(1200px - 260px);
}


#user-column-Dashboard > div:first-of-type {
	margin: 0;
}

#user-column-Dashboard > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-C);
	margin-top: 10px;
	transition: 0.2s ease;
}

#user-column-L > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-L);
	margin-top: 10px;
	transition: 0.2s ease;
	color: grey;
	padding-bottom: 5px;
}

/* This is so the header is not padded */
#user-column-L > div > div {
	padding: 10px 20px;
}

#user-column-L > div:first-of-type {
	margin-top: 0;
}

#user-column-L > div:hover {
	box-shadow: var(--grey-shadow);
}

/* Main Column */
#user-profile-column-C {
	width: 675px;
	margin: auto auto;
}

#user-profile-column-C > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-C);
	margin-top: 10px;
	transition: 0.2s ease;
}

#user-profile-column-C > div:hover {
	box-shadow: var(--grey-shadow);
	transition: 0.2s ease;
}

/* Quickview */
#user-quickview {
	transition: 0.2s ease;
	height: 130px;
	background-color: var(--primary);
	/*height: 90px;*/
}

#user-quickview-img {
	height: 100%;
	z-index: 20;
	border-radius: 0 4px 0px 0;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	position: relative;
	background-color: var(--highlight);
	border-radius: 200px;
	overflow: hidden;
	/*border-bottom: 2px solid lightgrey;*/
}

#user-quickview-img-container {
	height: 100px;
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 0 4px 0px 0;
	z-index: 19;
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-radius: 200px;
	overflow: hidden;
}

#user-quickview-name {
	/*position: absolute;*/
	bottom: 50px;
	padding-left: 140px;
	padding-right: 30px;
	color: white;
	font-size: 40px;
	line-height: 130px;
	width: 100%;
	background-color: var(--primary);
	height: 130px;
}

#user-quickview-footer {
	height: 50px;
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 0;
	border-top: 1px solid lightgrey;
	padding-left: 20px;
	font-size: 16px;
	line-height: 50px;
	color: grey;
	/*display: none;*/
}

#user-quickview-coverimage {
	width: 100%;
	height: 225px;
	object-fit: cover;
	object-position: 70% 20%;
	/*filter: grayscale(100%);*/
	opacity: 0.5;
}

/* Classes */
.user-classes {
	margin: 10px 20px;
}

/* Work Experience*/
.user-work-experience {
	border-bottom: 1px solid lightgrey;
	position: relative;
	overflow: hidden;
	padding-bottom: 25px;
	color: grey;
}

.user-work-title {
	font-size: 20px;
	margin-top: 5px;
	margin-left: 20px;
	transition: 0.2s ease;
	display: block;
	color: black;
}

.user-work-time {
	font-size: 12px;
	margin-left: 20px;
	font-style: italic;
	color: var(--eighty-grey);
}

.user-work-description {
	margin-left: 20px;
	margin-top: 4px;
	font-size: 14px;
	width: 550px;
	height: auto;
	max-height: 40px;
	overflow: hidden;
	transition: .3s ease;
}

.user-work-experience:last-of-type {
	border-bottom: none;
}

/* Education*/
.user-education {
	border-bottom: 1px solid lightgrey;
	position: relative;
	overflow: hidden;
	padding-bottom: 25px;
}

.user-education-title {
	font-size: 20px;
	margin-top: 5px;
	margin-left: 20px;
	transition: 0.2s ease;
	display: block;
}

.user-education-time {
	font-size: 12px;
	margin-left: 20px;
	font-style: italic;
	color: var(--eighty-grey);
}

.user-education-description {
	margin-left: 20px;
	margin-top: 4px;
	font-size: 12px;
	width: 550px;
	height: auto;
	max-height: 56px;
	overflow: hidden;
	transition: .3s ease;
}

.user-education-experience:last-of-type {
	border-bottom: none;
}

/* Bio */
.user-bio {
	border-bottom: 1px solid lightgrey;
	position: relative;
	overflow: hidden;
	padding-bottom: 25px;
	padding-top: 5px;
}

.user-bio-content {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 4px;
	font-size: 14px;
	height: auto;
	max-height: 82px;
	overflow: hidden;
	transition: .3s ease;
}


/* Links */
#user-links {
	padding: 0 !important;
}

#user-links div {
	padding: 0 !important;
}

#user-links a {
	border-bottom: 1px solid lightgrey;
	display: block;
	padding: 20px 15px;
	text-align: center;
}

#user-links a:last-of-type {
	border-bottom: none;
}

/* Labs */
#user-labs {
	padding: 0 !important;
}

#user-labs div > div {
	padding: 0 !important;
	padding-right: 10px !important;
	border-bottom: 1px solid lightgrey;
}

#user-labs div div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 60px;
}

#user-labs span {
	color: grey;
}

#user-labs a {
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	padding: 20px 15px;
	text-align: left;
	font-size: 110%;
}

#user-labs div:last-of-type {
	border-bottom: none;
}

.user-labs-delete {
	position: absolute;
	right: 5px;
}


#user-classes {
	position: relative;
	display: block;
	color: var(--primary);
	transition: 0.2s ease;
}

#user-classes span:hover {
	color: var(--active);
	transition: 0.2s ease;
	cursor: pointer;
}

#user-classes div {
	margin-left: 7px;
}

#user-classes-expander {
	position: absolute;
	bottom: 0px;
	padding-left: 3px;
}

#user-classes-list {
	max-height: 0;
	overflow: hidden;
	color: grey;
	transition: 0.2s ease;
}

#user-email, #user-phone {
	overflow-wrap: break-word;
}

#user-skills-interests {
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 5px;
	position: relative;
	min-height: 40px;
}

.skill, .interest {
	font-size: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid lightgrey;
	/*border-radius: 10px;*/
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	color: grey;
}

.skill {
	border-color: lightgrey;
	transition: 0.2s ease;
}
/*
.skill:hover {
	background-color: lightgreen;
	color: white;
	transition: 0.2s ease;
}*/

.interest {
	border-color: grey;
	border-color: var(--primary);
	transition: 0.2s ease;
}

/*.interest:hover {
	background-color: orange;
	color: white;
	transition: 0.2s ease;
	cursor: pointer;
}*/

.bubble-container {
	position: relative;
}

.explanation {
	position: absolute;
	top: -10px;
}
