#user-content-body {
	width: 1200px;
	position: relative;
	margin: auto auto;
	margin-top: var(--shift-down);
}

/* Right Column*/
#user-column-R {
	width: 250px;
	position: absolute;
	right: 5px;
}

.ad {
	height: 200px;
	background-color: lightgrey;
	border: 1px solid var(--bright-blue);
	margin-bottom: 15px;
}

/* Left Column*/
#user-column-L {
	width: 250px;
	position: absolute;
	left: 5px;
}

#user-column-L > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-L);
	margin-top: 20px;
	transition: 0.2s ease;
	color: grey;
	padding-bottom: 5px;
}

/* This is so the header is not padded */
#user-column-L > div > div {
	padding: 10px 20px;
}

#user-column-L > div:first-of-type {
	margin-top: 0;
}

#user-column-L > div:hover {
	box-shadow: var(--grey-shadow);
}

/* Main Column */
#user-profile-column-C {
	width: 660px;
	margin: auto auto;
}

#user-profile-column-C > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-C);
	margin-top: 20px;
	transition: 0.2s ease;
}

#user-profile-column-C > div:hover {
	box-shadow: var(--grey-shadow);
	transition: 0.2s ease;
}

/* Quickview */
#user-quickview {
	transition: 0.2s ease;
}

#user-quickview-img {
	height: 70%;
	position: absolute;
	bottom: 0;
	border-radius: 0 40px 0px 0;
	z-index: 20;
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}

#user-quickview-name {
	position: absolute;
	bottom: 50px;
	left: calc(0.7 * 225px - 2px);
	padding-left: 20px;
	padding-right: 30px;
	color: white;
	font-size: 34px;
	background-color: var(--bright-blue);
	border-radius: 0 40px 0 0 ;
}

#user-quickview-footer {
	height: 50px;
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 0;
	border-top: 1px solid lightgrey;
	padding-left: calc(0.7 * 225px + 20px);
	font-size: 16px;
	line-height: 50px;
	color: grey;
}

#user-quickview-coverimage {
	width: 100%;
	height: 225px;
	object-fit: cover;
	object-position: 50% 70%;
}

/* Work Experience*/
.user-work-experience {
	border-bottom: 1px solid lightgrey;
	position: relative;
	overflow: hidden;
	padding-bottom: 25px;
}

.user-work-title {
	font-size: 20px;
	margin-top: 5px;
	margin-left: 20px;
	transition: 0.2s ease;
	display: block;
}

.user-work-time {
	font-size: 12px;
	margin-left: 20px;
	font-style: italic;
	color: var(--eighty-grey);
}

.user-work-description {
	margin-left: 20px;
	margin-top: 4px;
	font-size: 12px;
	width: 550px;
	height: auto;
	max-height: 56px;
	overflow: hidden;
	transition: .3s ease;
}

.user-work-experience:last-of-type {
	border-bottom: none;
}

/* Links */
#user-links {
	padding: 0 !important;
}

#user-links div {
	padding: 0 !important;
}

#user-links a {
	border-bottom: 1px solid lightgrey;
	display: block;
	padding: 20px 15px;
	text-align: center;
}

#user-links a:last-of-type {
	border-bottom: none;
}

#user-classes {
	position: relative;
	display: block;
	color: var(--bright-blue);
	transition: 0.2s ease;
}

#user-classes span:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
	cursor: pointer;
}

#user-classes div {
	margin-left: 7px;
}

#user-classes-expander {
	position: absolute;
	bottom: 0px;
	padding-left: 3px;
}

#user-classes-list {
	max-height: 0;
	overflow: hidden;
	color: grey;
	transition: 0.2s ease;
}

#user-email {
	overflow-wrap: break-word;
}