.student-bio {
	height: 100vh;
}

.student-bio-form {
	background-color: var(--primary);
	padding: 20px;
	border-radius: var(--border-radius-C);
}

.student-bio-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--primary);
	padding: 10px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.student-bio-input:hover {
	box-shadow: 1px 1px 5px;
	color: var(--primary);
}

.student-bio-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--primary);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}