#student-content-body {
	width: 1200px;
	position: relative;
	margin: auto auto;
	margin-top: var(--shift-down);
}

/* Left Column*/
#student-column-L {
	width: 250px;
	position: absolute;
	left: 5px;
}

#student-column-L > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-L);
	margin-top: 20px;
	transition: 0.2s ease;
	color: grey;
	padding-bottom: 5px;
}

/* This is so the header is not padded */
#student-column-L > div > div {
	padding: 10px 20px;
}

#student-column-L > div:first-of-type {
	margin-top: 0;
}

#student-column-L > div:hover {
	box-shadow: var(--grey-shadow);
}

/* Main Column */
#student-profile-column-C {
	width: 660px;
	margin: auto auto;
}

#student-profile-column-C > div {
	border: 1px solid lightgrey;
	background-color: white;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius-C);
	margin-top: 20px;
	transition: 0.2s ease;
}

#student-profile-column-C > div:hover {
	box-shadow: var(--grey-shadow);
	transition: 0.2s ease;
}

/* Quickview */
#student-quickview {
	transition: 0.2s ease;
}

#student-quickview-img {
	height: 70%;
	position: absolute;
	bottom: 0;
	border-radius: 0 40px 0px 0;
	z-index: 20;
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-right: 2px solid lightgrey;
}

#student-quickview-name {
	position: absolute;
	bottom: 50px;
	left: calc(0.7 * 225px - 2px);
	padding-left: 20px;
	padding-right: 30px;
	color: white;
	font-size: 34px;
	background-color: var(--bright-blue);
	border-radius: 0 40px 0 0 ;
}

#student-quickview-footer {
	height: 50px;
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 0;
	border-top: 1px solid lightgrey;
	padding-left: calc(0.7 * 225px + 20px);
	font-size: 16px;
	line-height: 50px;
	color: grey;
}

#student-quickview-coverimage {
	width: 100%;
	height: 225px;
	object-fit: cover;
	object-position: 50% 70%;
}

/* Work Experience*/
.student-work-experience {
	height: 75px;
	border-bottom: 1px solid lightgrey;
	padding: 10px 20px;
	position: relative;
}

.student-work-experience:last-of-type {
	border-bottom: none;
}

.student-work-experience img {
	width: 75px;
	position: absolute;
	top: 0;
	left: 0;
}

/* Links */
#student-links {
	padding: 0 !important;
}

#student-links div {
	padding: 0 !important;
}

#student-links a {
	border-bottom: 1px solid lightgrey;
	display: block;
	padding: 20px 15px;
	text-align: center;
}

#student-links a:last-of-type {
	border-bottom: none;
}

#student-classes {
	position: relative;
	display: block;
	color: var(--bright-blue);
	transition: 0.2s ease;
}

#student-classes span:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
	cursor: pointer;
}

#student-classes div {
	margin-left: 7px;
}

#student-classes-expander {
	position: absolute;
	bottom: 0px;
	padding-left: 3px;
}

#student-classes-list {
	max-height: 0;
	overflow: hidden;
	color: grey;
	transition: 0.2s ease;
}

#student-email {
	overflow-wrap: break-word;
}