.user-information {
	text-align: left;
	background-color: var(--e-grey);
	padding: 10px;
	border-radius: 6px;
	width: 100%;
}

.setting-col {
	color: var(--white);
	position: relative;
}

.setting-icon {
	position: relative;
	margin-top: 10px;
	margin-left: 44%;
}