.upload-image {
	height: 100vh;
}

.upload-image-form {
	background-color: var(--white);
	padding: 20px;
	border-radius: var(--border-radius-C);
}

.upload-image-input {
	height: 150px;
	background-color: var(--e-grey);
	box-shadow: 1px 1px 5px;
	color: var(--e-grey);
	padding: 10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	display: block;
}

.upload-image-btn {
	background-color: var(--bright-blue);
}

.upload-image-btn:hover {
	background-color: var(--active-blue);
}

.upload-image-input:hover {
	color: var(--e-grey);
}

.upload-image-header {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--bright-blue);
	color: var(--white);
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}