/* IN NavBar.css
.nav-logo {
	height: 80px;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
}
	
nav {
    height: 90px;
    line-height: 90px;
    background-color: #0277bd;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 90px;
    line-height: 90px;
}

nav .button-collapse i {
    height: 90px;
    line-height: 90px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 90px;
        line-height: 90px;
    }
}

.nav-item {
	letter-spacing: 3px;
}

.contact-nav {
	background-color: rgb(41, 182, 246);
}

.contact-nav:hover {
	background-color: white;
	color: rgb(41, 182, 246);
}

#sidenav-overlay {
	z-index: 996;
}

.nav-option {
	font-size: 50px;
}

*/

.first-tab {
	margin-top: 26px;
}

.infoitem {
	/*margin-top: 100px;*/
}

.infoitem i {
	font-size: 100px;
}

.cover {
	height: 100vh;
}

.logo {
	height: 250px;
}


.tab2L {
	height: 1100px;
	background-color: rgba(122, 207, 214, 0.6);
}

.tab2 {
	height: 100vh;
	background-color: rgba(122, 207, 214, 0.6);
}

.tab3 {
	height: 100vh;
}

.tab4 {
	height: 100vh;
	background: rgba(255, 255, 255, 1);  /* fallback for old browsers */
	background-color: #0170a3;
}

.tab4s {
	/*height: 100vh;*/
	background: rgba(255, 255, 255, 1);  /* fallback for old browsers */
	background-color: #0170a3;
	/*background-image: -webkit-linear-gradient(left, rgba(41, 182, 246, .7) 0%,rgba(122, 207, 214, .7) 100%);*/

}

.tab5 {
	/*height: 100vh;*/
	padding-bottom: 5px;
	background: rgba(0, 0, 0, 0.5);  /* fallback for old browsers */
	background-image: -webkit-linear-gradient(left, rgba(41, 182, 246, .7) 0%,rgba(122, 207, 214, .7) 100%);

}

/*body {
	background-image: url(assets/sickBackground.png);
    background-size: 100% auto;
    font-family: 'Lato', sans-serif;
}*/
/* in NavBar.css
#hamburger {
	font-size: 60px;
	color: white;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}*/

.awkward {
	color: rgb(41, 182, 246);
	background-color: white;
	padding: 5px;
	margin: 0px;
	/*font-size: 1.4em;*/
	/*border-bottom: 1px solid white;*/
}

.awkward-top {
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding: 5px;
	color: white;
	margin-bottom: -2px;
	padding-left: 4px;
	padding-right: 4px;
}

.awkward-bottom {
	border: 2px solid white;
	padding: 5px;
	color: rgb(41, 182, 246);
	background-color: white;
	padding-left: 83px;
	padding-right: 83px;

}

.catchphrase {
	letter-spacing: 3px;
	font-size: 40px;

}

.infodescriptor {
	max-width: 200px;
	/*margin: 20px;*/
}

/*FORM*/
.form-header {
  font-size: 50px;
  letter-spacing: 1px;
}

.form-container {
	padding-top: 20vh;
}

.header {
	font-size: 50px;
}
.header-small {
	font-size: 25px;
	padding-left: 5px;
	padding-right: 5px;
}

.perch {
	margin-top: 0px;
}

/*[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

#first_name:focus + label, #last_name:focus + label, #email:focus + label, #password:focus + label {
  color: #29b6f6;
}

#first_name:focus, #last_name:focus, #email:focus, #password:focus {
  border-bottom: 1px solid #29b6f6;
  box-shadow: 0 1px 0 0 #29b6f6;
}*/

.team-header h1{
  padding: 40px;
  margin: 0;
}

.sub-team-header {
	background-color: #eee;
	padding-bottom: 5px;
}

.sub-team-header-2 {
	background-color: rgba(41, 182, 246, 0.0);
	padding-bottom: 5px;
	/*height: 100vh;*/
}

.sub-team-header-2-full {
	background-color: rgba(41, 182, 246, 0.0);
	padding-bottom: 5px;
	height: 100vh;
}

.sub-team-header-gen-2{
	/*background-color: rgba(41, 182, 246, 0.6);*/
	/*background-color: red;*/
	padding-bottom: 5px;
	
}

.sub-team-header-2 div {
	/*display: inline-block;*/
}

.sub-team-header h3, .sub-team-header-2 h3{
  padding: 20px;
  margin: 0;
  font-size: 70px;
}

.form-container	{
	padding-top: 30px;
}

/* IN TeamPhoto.css
.group-photo {
	width: 100%;
	margin-bottom: -50px;
}*/

blockquote {
	border-color: rgb(89, 202, 255) ;
}

#block-solution {
	color: #9e9e9e;
	border-color: white;
	padding: 5px 10px;
	opacity: .9;
}
#research-mobile {
	/*margin-top: 52px;*/
	color: rgb(41, 182, 246);
}

.awkward-mobile {
	font-size: 30px;
	border: 2px solid white;
}
.awkward-desktop {
	font-size: 30px;
	border: 2px solid white;
	max-width: 350px;
}

.submit-container {
	margin-top: 15px;
}

.submit-btn {
	background-color: #0277bd;
	/*border: 2px solid #0277bd;*/
	box-shadow: none;
}

.submit-btn:hover {
	background-color: #4fc3f7 ;
	/*border: 2px solid #0277bd;*/
	/*color: #0277bd;*/
	box-shadow: none;
}

.advisor-img {
	padding-left: 10%;
	padding-right: 10%;
}

#join-btn {
	width: 275px;
	letter-spacing: 1.5px;
	border: 2px solid white;
	color: white;
	text-transform: lowercase;
}

#join-btn:hover {
	background-color: #0277bd;
}

.user-type-btn {
	width: 275px;
	letter-spacing: 1.5px;
	border: 2px solid white;
	color: white;
	text-transform: lowercase;
	margin-bottom: 50px;
}

.user-type-btn:hover {
	background-color: #0277bd;
}

/* PUT IN Card.css
.card-reveal {
	background-color: #0277bd !important;
	color: white !important;
	opacity: 0.8;
}

.card-title {
	color: white;
}*/ 

/* PUT IN Greeting.css
.meet-team {
	padding: 20px;
	font-size: 38px;
	letter-spacing: 1px;
	color: white;
}*/

.white-btn {
	width: 275px;
	letter-spacing: 1.5px;
	border: 2px solid white;
	color: white;
	text-transform: lowercase;
}

.white-btn:hover {
	background-color: #0277bd;
}/*

input {
	margin-bottom: 0px;
}*/