.lab-list-item {
	padding: 10px 20px;
	margin: 20px;
	height: 95px;
	background-color: var(--white);
	color: var(--eighty-grey);
}

.lab-list-item-img {
	height: 95px;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: -20px;
	margin-right: 10px;
	position: relative;
	float: left;
}

.lab-list-name {
	text-align: left;
	font-size: 20px;
	margin-bottom: 5px;
	float: none;
	margin-left: 8px;
}

.lab-list-apply {
	float: right;
}

.lab-list-btn-container {
	float: right;
	margin-top: 20px;
}

.lab-list-tag-container {
	float: left;
}