.lab-list {
	background-color: var(--d-grey);
	/*width: 30% !important;*/
	margin-top: 20px;
	/*margin: 1.5% !important;*/
	padding: 0px !important;
	min-height: 200px !important;
}

.lab-list-header {
	padding: 20px;
	text-align: left;
	background-color: var(--primary);
	letter-spacing: 2px;
	min-height: 90px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

.lab-list-icon {
	font-size: 35px;
	position: absolute;
	top: 25px;
	margin-left: 20px;
}

#lab-list-filler {
	line-height: 100px;
	color: #aaa;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}