.lab-srch-item {
	width: 100%;
	height: 110px;
	background-color: var(--white);
	margin-bottom: 5px;
	position: relative;
	border-radius: 0 20px 0 40px;
	overflow: hidden;
	border-bottom: 1px solid var(--d-three-grey);
	border-right: 1px solid var(--d-three-grey);
	transition: 0.2s ease;
	z-index: 10;
	color: #707070;
}

.lab-srch-item:hover img {
	cursor: pointer;
}

.lab-srch-item:hover {
	box-shadow: var(--grey-shadow);
	transition: 0.2s ease;
}

.lab-srch-item-pic {
	width: 100px;
	position: absolute;
	top: -3px;
	left: -4px;
}

.lab-srch-item-name {
	font-size: 24px;
	position: absolute;
	top: 10px;
	left: 105px;
	color: var(--primary);
	cursor: pointer;
	transition: 0.2s ease;
}

.lab-srch-item-name:hover {
	color: var(--active);
	transition: 0.2s ease;
}

.lab-srch-item-depts {
	position: absolute;
	top: 45px;
	left: 105px;
	font-size: 15px;
	/*display: none;*/
}

.lab-srch-item-rsrch {
	position: absolute;
	top: 65px;
	left: 105px;
	font-size: 15px;
	display: none;
}

.lab-srch-item-description {
	position: absolute;
	top: 85px;
	left: 160px;
	font-size: 15px;
	width: 70%;
}

.lab-srch-item-num-projects {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease;
	background-color: var(--primary);
	border-bottom-left-radius: 20px;
	color: white;
}

.lab-srch-item-num-projects:hover {
	background-color: var(--active);
}

.lab-srch-item-expansion {
	width: 80%;
	margin-left: 20%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	transition: 0.2s ease;
}

.hide-projects {
	margin-top: -350px;
	transition: 0.2s ease;
	opacity: 0;
	max-height: 170px;
}

.lab-srch-item-container {
	overflow: hidden;
	z-index: 0;
	min-height: 115px;
}
