.search-container {
	display: inline-grid;
	width: 110%;
	margin-left: -20px;
	grid-template-columns: 20% 80%;
}

.search-main {
	grid-column-start: 2;
}

.search-sidebar {
	grid-column-start: 1;
	height: 40px;
	margin: 5px;
	margin-bottom: 0px;
}

.search-filter-container {
	background-color: #FFF;
	transition: all 0.5s ease;
	transition-delay: 0.2s;
	border-radius: 0px 10px 0px 10px;
	max-height: 55px;
	overflow-y: hidden;
	padding: 5px;
	margin-bottom: 5px;
}

.search-filter-container:hover,
.search-filter-container:active,
.search-filter-container:focus {
	max-height: 280px;
	box-shadow: 0 1px 4px 0 0 #29b6f6;
}

.search-filter-title {
	padding: 12px;
}

.search-filter-content {
	text-align: left;
	overflow: scroll;
	max-height: 200px;
	width: 100%;
}

.labSearch {
	padding: 20px;
	padding-left: 0;
	padding-right: 0;
	background-color: #ddd;
}

.labSearch .row {
	margin: 0;
}

.lab-search-input {
	border-radius: 40px !important;
	background-color: white !important;
	color: grey !important;
	padding-left: 20px !important;
	margin: 5px 10px !important;
	height: 40px !important;
	width: 95% !important;
}

#lab-name:focus + label,  #lab-topic:focus + label {
  color: #29b6f6;
}

#lab-name:focus, #lab-topic:focus {
  border-bottom: 1px solid #29b6f6;
  box-shadow: 0 1px 0 0 #29b6f6;
}

.lab-search-label {
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 10px;
}

.lab-search-btn {
	margin-top: 5px;
}

.lab-search-modifiers {
	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
	margin-bottom: 0;
	padding: 10px;
	background-color: #0277bd;
	position: relative;
}

.close-modifiers {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
	color: white;
	background-color: rgb(41, 182, 246);
}

#interests, #skills {
	color: white !important;
}

.import-btn {
	background-color: rgb(41, 182, 246);
	font-size: 80%;
	padding-left: 10px;
	padding-right: 10px;
}

#lab-search-box {
	padding: 11px;
	padding-top: 0px;
}

.import-container {
	/*padding-right: 30px !important;*/
}

.search-interest-container {
	display: flex;
	flex-direction: row;
	color: white;
	background-color: #0277bd;
	min-height: 30vh;
}

.search-interest-section-left {
	border-color: #ddd !important;
	/*border-top: none !important;*/
	border-right: none !important;
	/*border-left: none !important;*/
}

.search-interest-section-right {
	border-color: #ddd !important;
	/*border-top: none !important;*/
	/*border-right: none !important;*/
	/*border-left: none !important;*/
}

.selected-container {
	float: left;
}

.lab-search-radio-label {
	color: #ddd;
}
