.lab-srch-project {
	height: 130px;
	background-color: var(--white);
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	/*border-radius: 0 20px 0 40px;*/
	transition: .2s ease;
}

.lab-srch-project:hover {
	box-shadow: var(--grey-shadow);
	transition: .2s ease;
}

/*.lab-srch-project:after {
	content: 'PROJECT';
	position: absolute;
	left: -50px;
	top: 30%;
	color: grey;
	transform: rotate(-90deg);
	font-size: 14px;
}*/

.lab-srch-project-title {
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 30px;
	transition: 0.2s ease;
	color: var(--bright-blue);
	cursor: pointer;
}
.lab-srch-project-title:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
}

.lab-srch-project-tag {
	position: absolute;
	background-color: var(--purple);
	border-radius: 10px;
	color:	var(--white);
	margin-left: 20px;
	font-size: 12px;
	padding: 4px 10px;
	margin-left: 20px;
	top: 0;
	font-size: 11px;
	letter-spacing: 1px;
}

.lab-srch-project-description {
	position: absolute;
	left: 30px;
	top: 55px;
	font-size: 12px;
	width: 400px;
}

.lab-srch-project-action-label {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: var(--bright-blue);
	color: var(--white) !important;
	cursor: pointer;
	border-radius: 20px 0 0 20px;
	transition: 0.2s ease;
}

.lab-srch-project-action-label:hover {
	background-color: var(--active-blue);
	transition: 0.2s ease;
}

.lab-srch-project-apply {
	position: absolute;
	top: 15px;
	right: 0;
	width: 75px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: var(--bright-blue);
	color: var(--white) !important;
	cursor: pointer;
	border-radius: 20px 0 0 20px;
	transition: 0.2s ease;
}

.lab-srch-project-apply > a {
	color: var(--white) !important;
}

.lab-srch-project-openings {
	color: var(--black);
	position: absolute;
	top: 33px;
	left: 30px;
	font-size: 12px;
}

.lab-srch-project-adder {
	position: absolute;
	top: 60px;
	right: 0;
	padding: 0 10px;
	background-color: lightblue;
}