.lab-srch-project {
	height: 130px;
	background-color: white;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border-radius: 0 20px 0 40px;
	transition: .2s ease;
}

.lab-srch-project:hover {
	box-shadow: var(--grey-shadow);
	transition: .2s ease;
}

.lab-srch-project:after {
	content: 'PROJECT';
	position: absolute;
	left: -125px;
	top: 45%;
	color: grey;
}

.lab-srch-project-title {
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 30px;
	transition: 0.2s ease;
	color: var(--bright-blue);
	cursor: pointer;
}
.lab-srch-project-title:hover {
	color: var(--active-blue);
	transition: 0.2s ease;
}

.lab-srch-project-tag {
	position: relative;
	background-color: purple;
	border-radius: 10px;
	color:	white;
	font-size: 12px;
	padding: 5px 10px;
	margin-left: 20px;
}

.lab-srch-project-description {
	position: absolute;
	left: 50px;
	top: 40px;
	font-size: 12px;
	width: 400px;
}

.lab-srch-project-apply {
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: var(--bright-blue);
	color: white;
	cursor: pointer;
	border-radius: 20px 0 0 20px;
	transition: 0.2s ease;
}

.lab-srch-project-apply:hover {
	background-color: var(--active-blue);
	transition: 0.2s ease;
}

.lab-srch-project-openings {
	color: black;
	position: absolute;
	top: 45px;
	right: 4px;
	font-size: 12px;
}