.lab-srch-2 {
	width: 1200px;
	margin: auto auto;
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: 250px 950px;
}

.lab-srch-mods {
	height: 100%;
	background-color: lightgrey;
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
}

.lab-srch-body {
	background-color: #eaeaea;
	position: relative;
	top: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	border-right: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
}

.lab-srch-depts {
	height: 330px;
	background-color: grey;
	width: 100%;
	line-height: 330px;
	text-align: center;
}

#lab-srch-input {
	background-color: white;
	padding-left: 20px;
	width: calc(100% - 20px);
	height: 50px;
	border: 1px solid lightgrey;
}

#lab-srch-result-summary {
	margin-top: -15px;
	margin-bottom: 20px;
	color: grey;
}

#lab-srch-result-summary b {
	color: var(--bright-blue);
}

#lab-srch-results {
	width: 100%;
}

/*#lab-srch-results b {
	color: var(--bright-blue);
}*/
