#help-video-wrapper {
	padding: 0;
	padding-bottom: calc((100% - 400px)*.625);
	width: calc(100% - 400px);
	margin-left: 60px;
	margin-top: 10px;
	position: relative;
}

#help-video-wrapper video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#vid-panel {
	background-color: white;
	width: 275px;
	position: fixed;
	right: 0;
	top: 85px;
	padding-bottom: 10px;
	border-radius: 0 0 0 40px;
	overflow: hidden;
}

.vid-item {
	border-bottom: 1px solid #eaeaea;
	padding: 10px 20px;
	color: var(--primary);
	cursor: pointer;
	transition: .1s ease;
}

.vid-item:hover {
	color: var(--active);
	transition: 0.2s ease;
}

.active-vid {
	background-color: var(--active);
	color: white;
}

.active-vid:hover {
	color: white;
}

#help > div:first-of-type {
	margin-top: 20px;
	margin-left: 60px;
	text-align: center;
	width: calc(100% - 400px);
}