body {
	background-color: white !important;
	padding-bottom: 0px;
}

.perch-story {
	background-color: white;
	padding: 40px 100px;
}

.perch-story-container {
	width: 1100px;
	position: relative;
	margin: auto auto;
	margin-top: 20px;
}

.perch-story-row:hover {
	/*border: 1px solid red !important;*/
}

.perch-story-header {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 400;
	width: 700px;
	margin: auto auto;
	color: var(--primary);
}

.perch-story-block {
	background-color: white;
	color: grey;
	text-align: left;
	padding: 20px;
	transition: .2s ease;
	position: relative;
	font-size: 25px;
}

.perch-story-block img {
	height: 100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
}

.perch-story-block div {
	width: calc(100% - 150px);
	margin-left: auto;
	margin-right: 20px;
}

.perch-story-block b {
	font-size: 120%;
	font-weight: normal;
	color: var(--primary);
}

.perch-story-block-L:hover, .perch-story-block-R:hover {
	border-color: var(--active);
	transition: 0.2s ease;
}

.perch-story div:last-of-type {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.perch-match-img {
	width: 100%;
}

.perch-story-row {
	width: 100%;
	height: 230px;
	position: relative;
	margin-bottom: 100px;
}

.perch-story-row-img {
	max-width: 50%;
	height: 100%;
	display: inline-block;
}

.perch-story-row-text {
	width: 50%;
	height: 100%;
	display: inline-block;
	transform: translateY(-35%);
}

.perch-story-text {
	font-size: 24px;
	color: var(--seventy-five-grey);
	padding: 0px 20px;
	text-align: left;
}

.perch-story-text.centered {
	width: 100%;
	margin-top: 30px;
	text-align: left;
}

.perch-story-text.long {
	transform: translateY(-25%);
	text-align: left;
}

.perch-story-text .extra-highlight {
	display: inline;
	color: var(--active);
}