body {
	background-color: white !important;
}

.perch-story {
	padding: 40px 100px;
	width: 1200px;
	position: relative;
	margin: auto auto;
	height: 850px;
}

.perch-story-header {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 400;
	width: 700px;
	margin: auto auto;
	color: var(--primary);
}

.perch-story-block {
	background-color: white;
	color: grey;
	text-align: left;
	padding: 20px;
	transition: .2s ease;
	position: relative;
	font-size: 25px;
}

.perch-story-block img {
	height: 100px;	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
}

.perch-story-block div {
	width: calc(100% - 150px);
	margin-left: auto;
	margin-right: 20px;
}

.perch-story-block b {
	font-size: 120%;
	font-weight: normal;
	color: var(--primary);
}

.perch-story-block-L:hover, .perch-story-block-R:hover {
	border-color: var(--active);
	transition: 0.2s ease;
}

.perch-story div:last-of-type {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}