
.temp-signup {
	font-weight: normal;
	font-size: 30px;
	margin: auto auto;
	padding: 0px 80px;
	text-align: center;
	margin-top: calc(50vh - 50px);
	transform: translateY(-50%);
}

.temp-signup-sub {
	font-weight: normal;
	font-size: 20px;
	color: grey;
	margin-left: 10px;
}

.letter-spacer {
	letter-spacing: 1px;
}

.atf-moving-text {
	background-color: var(--primary);
}

@media only screen and (max-width: 600px){
	.atf-header {
		font-size: 25px;
	}

	.atf-header-big {
		font-size: 55px;
	}

	.atf-height {
		/*height: 60vh;*/
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 601px){
	.atf-header {
		font-size: 40px;
	}

	.atf-header-big {
		font-size: 65px;
	}

	.atf-height {
		height: calc(100vh - 50px);
	}
}


.atf-header {
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

.atf-header-big {
	font-weight: bold;
	letter-spacing: 2px;
}

.atf-text {
	letter-spacing: 2px;
	margin-top: 20px;
	font-size: 16px;
	line-height: 200%;
	color: var(--e-grey);
}

.atf {
	color: var(--white);
	margin-bottom: -20px;
	background-color: var(--highlight);
	background-color: white;
	background-size: cover;	
	box-shadow: 0 2px 8px rgba(0,0,0,.11);
	z-index: 10;
	position: relative;
}

#atf-changer {
	color: var(--white);
}

#atf-perch {
	color: var(--white);
}

